<ion-header>
    <ion-toolbar color="dark">
      <ion-grid>
        <ion-row>
          <div class="ion-page" main>
            <div class="main-header">
              <ion-buttons slot="start" style="text-align:center;">
                <ion-menu-button></ion-menu-button>
                <span style="width:100%;">
                    {{titulo}}
                </span>
              </ion-buttons>
              <span class="messages">
                <a  (click)="goToBack()" ><ion-icon name="arrow-dropleft"></ion-icon></a>
                <ion-icon name="chatbubbles" (click)="goToRoute('home/chat')"></ion-icon>
                <ion-badge color="success" (click)="goToRoute('home/chat')" class="notification">1</ion-badge>
              </span>
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    <app-menu></app-menu>
</ion-header>
  
  <ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
    <ion-header>
      <ion-toolbar color="primary" class="text-center">
        <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
      </ion-toolbar>
    </ion-header>
  
    <ion-content color="primary">
        <app-menu></app-menu>
    </ion-content>
  
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-content padding>
    <img src="http://i.imgur.com/bfDScsb.png" class="background-image" alt="">
    <ion-grid style="opacity:1;">
        <ion-row>
          <ion-col size="12">
            <ion-item class="text-center">
                    <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:50%;">
                    <ion-label class="text-center">
                      <h2 class="font-10"> <strong>20</strong></h2>
                      <p>Torneos Ganados</p>
                      <div class="divider-angular"></div>
                      <h2 class="font-10"> <strong>40</strong></h2>
                      <p>Goles Anotados</p>
                      <div class="divider-angular"></div>
                      <h2 class="font-10"> <strong>1.80 cm</strong></h2>
                      <p>Altura</p>
                  </ion-label>
            </ion-item>
            <ion-item class="text-left margin-0">
                    <ion-label class="text-left">
                      <h2 class="font-17"> <strong>Jony Blake</strong></h2>
                      <p>Corredor</p>
                  </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <div class="text-justify bg-ligth" style="border-radius:10px;">
              Your Success and happines life porque asi me gusta a mi que sea
            </div>
          </ion-col>
          <ion-col size="12" class="text-center">
              <ion-button (click)="goToRoute('home/chat/mensaje/1')" color="primary">Enviar Mensaje</ion-button>
          </ion-col>
        </ion-row>
        
            
      </ion-grid>
  </ion-content>
  
  
  