<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <div class="ion-page" main>
          <div class="main-header">
            <ion-buttons slot="start" style="text-align:center;">
              <ion-menu-button></ion-menu-button>
              <span style="width:100%;">
                  {{titulo}}
              </span>
            </ion-buttons>
            <span class="messages">
              <a  (click)="goToBack()" ><ion-icon name="arrow-dropleft"></ion-icon></a>
              <ion-icon name="chatbubbles" (click)="goToRoute('home/chat')"></ion-icon>
              <ion-badge color="success" (click)="goToRoute('home/chat')" class="notification">1</ion-badge>
            </span>
          </div>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <app-menu></app-menu>
</ion-header>

<ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
  <ion-header>
    <ion-toolbar color="primary" class="text-center">
      <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
      <app-menu></app-menu>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="selectedData">
      <ion-col size="12">
        <ion-item class="text-center">
                <img class="" src="{{(selectedData.foto)?selectedData.foto:'http://i.imgur.com/bfDScsb.png'}}" alt="" style="width:50%;">
                <ion-label class="text-center" *ngIf="selectedData">
                       <strong class="text-center font-20"> {{(selectedData.nombre)?selectedData.nombre:''}} </strong>
                       <ion-item-divider class="divider">
                        </ion-item-divider>
                  <h2 class="font-30"> <strong>4</strong></h2>
                  <p>Puntos en el torneo</p>
              </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-center">
        <ion-button (click)="goToRoute('home/equipo/'+selectedData.id+'/mensaje')" color="primary">Enviar Mensaje</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="mb-2 mt-2">
        <ion-col size="12" class="primary">
          <span class="ml-2" > <strong>Goles</strong></span>
        </ion-col>
        <ion-col size="4">
          <ion-label class="text-center">
              <strong class="text-center font-20"> 5</strong>
              <p>Favor</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label class="text-center">
              <strong class="text-center font-20"> 5</strong>
              <p>En contra</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="mb-2 mt-2">
          <ion-col size="12" class="primary">
            <span class="ml-2" ><strong> Partidos</strong> </span>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-center">
                <strong class="text-center font-20"> 5</strong>
                <p>Ganados</p>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-center">
                <strong class="text-center font-20"> 5</strong>
                <p>Empatados</p>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-center">
                <strong class="text-center font-20"> 5</strong>
                <p>Perdidos</p>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
              <ion-segment class="segment segment-md hydrated">
                  <ion-segment-button [checked]='tabSelected==0' (click)="tabSelected=0" class="hydrated">
                    Fotos
                  <ion-ripple-effect class="hydrated"></ion-ripple-effect></ion-segment-button>
                  <ion-segment-button [checked]='tabSelected==1' (click)="tabSelected=1" class="hydrated">
                    Jugadores
                  <ion-ripple-effect class="hydrated"></ion-ripple-effect></ion-segment-button>
              </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row class="mb-2 pointer" *ngIf="tabSelected==1 && selectedData">
          <ion-col size="6" *ngFor="let data1 of selectedData.jugadores" (click)="goToRoute('home/jugador/'+data1.jugadores.id)">
              <div class="dark" style="border-radius:10px;" >
                  <ion-item class="text-center">
                      <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:40%;">
                      <ion-label class="text-left">
                        <strong class="left font-9 color-white"> {{(data1.jugadores.nombre)?data1.jugadores.nombre:''}}</strong>
                        <p class="font-7 color-white">Portero</p>
                    </ion-label>
                  </ion-item>
                  <div class="font-7 pl-2 pr-2 pt-2 pb-2 text-justify">
                    Pequeña distraccion para saber que leer de jugador, realmente no tenemos nada para ponerle pero es bueno tenerlo para que "se vea bonito"
                  </div>
              </div>
          </ion-col>
        </ion-row>
        <ion-row class="mb-2" *ngIf="tabSelected==0">
          <ion-col size="4" class="light" style="border-radius:10px;">
              <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
          </ion-col>
        </ion-row>
        
  </ion-grid>
</ion-content>


