<ion-header>
    <ion-toolbar color="dark">
      <ion-grid>
        <ion-row>
          <div class="ion-page" main>
            <div class="main-header">
              <ion-buttons slot="start" style="text-align:center;">
                <ion-menu-button></ion-menu-button>
                <span style="width:100%;">
                    {{titulo}}
                </span>
              </ion-buttons>
              <span class="messages">
                <a  (click)="goToBack()" ><ion-icon name="arrow-dropleft"></ion-icon></a>
                <ion-icon name="chatbubbles" (click)="goToRoute('home/chat')"></ion-icon>
                <ion-badge color="success" (click)="goToRoute('home/chat')" class="notification">1</ion-badge>
              </span>
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    <app-menu></app-menu>
  </ion-header>
  
  <ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
    <ion-header>
      <ion-toolbar color="primary" class="text-center">
        <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
      </ion-toolbar>
    </ion-header>

    <ion-content color="primary">
        <app-menu></app-menu>
    </ion-content>

    <ion-footer>
      <ion-toolbar color="primary">
        <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-content padding>
    <ion-grid>
      <ion-row class="hover mb-2 mt-2" *ngFor="let data of Table">
        <ion-col size="12" class="primary pointer" (click)="goToRoute('home/liga/'+data.id)">
          <span >{{(data.nombre!=null)?data.nombre:''}}</span>
        </ion-col>
        <ion-col size="12" class="primary-clear pointer" (click)="goToRoute('home/equipos/'+data.id)">
            <span>Equipos</span>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>


