<ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home')" expand="small"  color="danger" fill="clear">Home</ion-button>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/equipo')"  expand="small" color="danger" fill="clear">Equipo</ion-button>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/alquileres')" expand="small"  color="danger" fill="clear">Alquiler</ion-button>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/partidos')" expand="small"  color="danger" fill="clear">Partidos</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>