<ion-app>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="main-header">
                {{titulo}}
                <span class="messages">
                  <ion-icon name="chatbubbles" (click)="goToRoute('home/chat')"></ion-icon>
                  <ion-badge color="success" (click)="goToRoute('home/chat')" class="notification">1</ion-badge>
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
      <app-menu></app-menu>

    </ion-header>
  
    <ion-content padding>
        <ion-grid>
            <ion-row *ngIf="selectedData">
              <ion-col size="12">
                <ion-item class="text-center">
                        <img class="" src="{{(selectedData.foto)?selectedData.foto:'http://i.imgur.com/bfDScsb.png'}}" alt="" style="width:50%;">
                        <ion-label class="text-center" *ngIf="selectedData">
                               <strong class="text-center font-20"> {{(selectedData.nombre)?selectedData.nombre:''}} </strong>
                               <ion-item-divider class="divider">
                                </ion-item-divider>
                                <div><ion-button (click)="goToRoute('home/torneos')" color="danger">Notas</ion-button></div>
                                <div><ion-button (click)="goToRoute('home/notas/1')" color="danger">Torneos</ion-button></div>

                      </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card *ngFor="let data of Table">
            <ion-card-content>
                <p class="color-blue font-7">{{(data.descripcion!=null)?data.descripcion:''}}</p>
                <ion-card-title>{{(data.fecha!=null)?data.fecha:''}}</ion-card-title>
                <h2>{{(data.lugar!=null)?data.lugar:''}}</h2>
            </ion-card-content>
            <img class="img-noticias" src="{{(data.foto!=null)?data.foto:'http://placehold.it/100x100?text='+data.descripcion}}" />
          </ion-card>
        
    </ion-content>
  </ion-app>

